[flake8]
max-line-length = 120
max-complexity = 30
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .hypothesis,
    .mypy_cache,
    build,
    dist,
    *.egg-info,
    .venv,
    venv
ignore =
    E203,
    E501,
    W503,
    C901
per-file-ignores =
    __init__.py:F401
